<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chkan.iqtimer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name="com.chkan.iqtimer.database.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IQtimer">

        <service
            android:name="com.chkan.iqtimer.progress.ProgressCountDataIntentService"
            android:exported="false" />
        <service
            android:name="com.chkan.iqtimer.database.WriteCountDataIntentService"
            android:exported="false" />

        <activity
            android:name="com.chkan.iqtimer.statistic.StatisticActivity"
            android:label="@string/stat_actionbar_title"
            android:parentActivityName="com.chkan.iqtimer.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chkan.iqtimer.MainActivity" />
        </activity>

        <service android:name="com.chkan.iqtimer.TimerService" />

        <activity
            android:name="com.chkan.iqtimer.settings.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.chkan.iqtimer.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chkan.iqtimer.MainActivity" />
        </activity>
        <activity
            android:name="com.chkan.iqtimer.settings.SettingsActivity"
            android:label="@string/sett_actionbar_title"
            android:parentActivityName="com.chkan.iqtimer.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chkan.iqtimer.MainActivity" />
        </activity>
        <activity
            android:name="com.chkan.iqtimer.progress.ProgressActivity"
            android:label="@string/progress"
            android:parentActivityName="com.chkan.iqtimer.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chkan.iqtimer.MainActivity" />
        </activity>
        <activity
            android:name="com.chkan.iqtimer.MainActivity"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>